[Unit]
Description=App which monitors and back-ups folders.
After=network.target

[Service]
ExecStart=/usr/sbin/reportmand
User=root
Group=afnbadmin
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target